.page5{
  
    flex: 5;

}

.page5 ::-webkit-input-placeholder { /* Edge */
    color: #C6C6C6;
  }
  
 .page5 :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #C6C6C6;
  }
  
  .page5 ::placeholder {
    color: #C6C6C6;
  }

.space{
    padding: 2% 4% !important;
    
}
.title{
    width: 100%;
    height: 85px;
    background-color: #081249;;
        font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 24.5439px;
    line-height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: -0.747888px;
    
    color: #FFFFFF;
    }
    .form{
        display: flex;
    }
    .pt1{
flex:2;
    }
    .pt2{
flex:2;
    }
    .lbl{
        display: block;
        font-family: 'Barlow';
font-style: normal;
font-weight: 500;
font-size: 17.4054px;
line-height: 130%;
/* identical to box height, or 23px */


color: #353535;
margin-top: 5%;
    }
    .inpuser{
        width: 90%;
        height: 3.8em;
        border-radius: 6px;
        border: none;
        background-color : #e9e9e9; 
        margin-top: 5px;
       padding:0 10px;
       font-family: 'Barlow';
font-style: normal;
font-weight: 500;
font-size: 17.6628px;
line-height: 130%;
/* identical to box height, or 23px */



    }
    select{
        width: 80%;
        height: 3.8em;
        border-radius: 6px;
        border: none;
        background-color : #e9e9e9; 
       padding:0 10px;
       cursor: pointer;
     margin-top: 5px !important;
     font-family: 'Barlow';
font-style: normal;
font-weight: 500;
font-size: 17.6628px;
line-height: 130%;
/* identical to box height, or 23px */



    }

    .weekendDays{
        margin: 1.5em 0;
    }
    .weekendDays div{
        margin: 0.5em 0;
    }
    .weekendDays input{
width: auto !important;
display: inline-block !important;

    }

    .weekendDays label{
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
     
        color: #000000;
        
            }

    select:invalid,
select option[value=""] {
    color: #C6C6C6;
}
option{
    border: transparent;
}
.inpuserS{
    
        width: 100%;
        height: 3.8em;
        border-radius: 6px;
        border: none;
        background-color : #e9e9e9; 
        margin-top: 5px;
       padding:0 10px;
     margin-top: 5px;
     font-family: 'Barlow';
     font-style: normal;
     font-weight: 500;
     font-size: 17.6628px;
     line-height: 130%;
     /* identical to box height, or 23px */
     
     
     
}
.inpuserA{
    
    width: 100%;
    height: 3.8em;
    border-radius: 6px;
    border: none;
    background-color : #e9e9e9; 
    margin-top: 5px;
   padding:0 10px;
 margin-top: 5px;
 font-family: 'Barlow';
 font-style: normal;
 font-weight: 500;
 font-size: 17.6628px;
 line-height: 130%;
 /* identical to box height, or 23px */
 
 
 
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.lbl2{
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 140%;
color: #000000;
display: block;

}

.allowance{
    
font-family: 'Ubuntu';
font-style: normal;
font-weight: 500;
font-size: 17.4054px;
line-height: 130%;
/* identical to box height, or 23px */


color: #353535;
margin-top: 5%;
margin-bottom: 0;
}

.btns{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 5%;
}

.btn1{
    padding: 10px 60px;
    border: 1px solid #0B185F;
    box-sizing: border-box;
    border-radius: 4.69712px;
background: transparent;    
font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 24px;
display: flex;
align-items: center;
letter-spacing: -0.491155px;

color: #0B1963;
    
    cursor: pointer;
     margin-right: 2%;
}

.btn1:hover{
  
    background: linear-gradient(256.88deg, #0B1963 24.97%, #02061E 159.02%);  
    color: #FFFFFF; 
}

.btn2{
    padding: 10px 30px;
   border: none;
    box-sizing: border-box;
    background: linear-gradient(256.88deg, #0B1963 24.97%, #02061E 159.02%);
    border-radius: 4.69712px;
       
font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 24px;
display: flex;
align-items: center;
letter-spacing: -0.491155px;

color: #FFFFFF;
    
    cursor: pointer;
}

.btn2:hover{
 
background: transparent; 
color: #0B1963;
border: 1px solid #0B185F;
}

input[type="radio"]{
 display: none;
}

.rad{
    width: 80%;
    height: 3.8em;
    border-radius: 6px;
    border: none;
    background-color : #e9e9e9; 
    margin-top: 5px;
   padding:0 10px;
display: flex;
align-items: center;
justify-content: center; 
font-family: 'Barlow';
font-style: normal;
font-weight: 500;
font-size: 17.6628px;
line-height: 130%;

color: #C6C6C6;
}

.lblR{
cursor: pointer;
}

input[type="radio"]:checked + .lblR{
    font-weight: 700;
    color: #0B1963;
}
.cShift{
    width: 80%;
    height: 3.8em;
    border: 1px dashed #777777;
    box-sizing: border-box;
    border-radius: 9.94595px;
    margin-top: 5px;
    padding:0 10px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 500;
    font-size: 17.6628px;
    color: #686868;   
    background-color: transparent; 
   
}
.cShift:hover{
    background-color: #686868; 
    border: 1px solid #777777;
    color: white;
}
.formAdd{
    display: block;
    border: none;
    background: transparent;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 500;
    font-size: 14.4054px;
    line-height: 130%;
    cursor: pointer;
    color: #112589;
    position: absolute;
    right: 36px;
}

.formAdd:hover{
color: #253ebd;
}

.rel{
    position: relative;
}

span{
    font-size: 12px;
    padding: 3px;
    color: red;
    display: none;
}


input:invalid[focused="true"] + span{
    display: block;
}
input:invalid[focused="true"]{
    border: 1px solid red;
}

select:invalid[focused="true"] + span{
    display: block;
}
select:invalid[focused="true"]{
    border: 1px solid red;
}