.page6{
  
    flex: 5;

}
.contitle{
    width: 100%;
    height: 160px;
    background-color: #081249;;
        font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 24.5439px;
    line-height: 36px;
    display: flex;
    justify-content: center;
    letter-spacing: -0.747888px;
    
    color: #FFFFFF;
    }
    .contitle2{
        margin-top: 2%;
    }
    .compProfile{
        height: 200px;
        width: 200px;
        border-radius: 50%;
        border: 5px solid #E9DFFF;
        float: left;
    }
    .compName{
        font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 24.5707px;
line-height: 36px;
display: flex;
align-items: center;
letter-spacing: -0.748707px;
margin-bottom: 0;
color: #240666;
margin-top: 80px;
display: inline-block;
    }
.compType{
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 500;
font-size: 15px;
display: flex;
align-items: center;
letter-spacing: -0.748707px;

color: #B8B8B8;
}

.shift{
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 26px;
letter-spacing: -0.02em;
color: #9A9A9A;
display: inline-block;
margin-left: 30px;
}

.shiftB{
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 26px;
letter-spacing: -0.02em;
display: inline-block;
color: #000000;

}
.addDep{
    background: rgba(34, 12, 83, 0.12);
border-radius: 6.36455px;
font-family: 'Ubuntu';
font-style: normal;
font-weight: bold;
font-size: 11.3027px;
line-height: 130%;
color: #220C53;
border: none;
padding: 8px 15px;
display: inline-block;
margin-left: 30px;
}

.addDep:hover{
    background: rgba(34, 12, 83, 0.2);   
}
.end{
    display: flex;
    justify-content: space-between;
   
}
.search{
    margin-right: 30px;
    background: #F4F2FF;
border-radius: 5.89761px;
border: none;
padding: 10px;
padding-left: 25px;
width: 50%;
min-width: 250px;
}
.search::placeholder{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 11.7952px;
    line-height: 14px;
    color: #0B1963;

}
.srchI{
    color: #0B1963;
    position: absolute; 
    bottom: 11px;
    left:5px;
}

.count{
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 13.2795px;
line-height: 19px;
color: #999999;
margin-left: 30px;
margin-top: 10px;
display: inline-block;
}
.delAll{
    margin-left: 7px;
  
}
.delDiv{
display: flex;
margin-top: 10px;
}
.delP{
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 500;
font-size: 12.251px;
line-height: 29px;
letter-spacing: -0.02em;

color: #D43500;
display: inline-block;
}
.spc{
    padding: 0.5rem !important;
    border-style: none solid none none;
    border-width: 1px;
    border-color: #DDDDDD;
}

.dep{
    display: flex;
    justify-content: space-between;

}

.check{

    position: relative;
    bottom:10px;
    margin-right: 20px;
}
.depName{
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 17.5258px;
line-height: 20px;
color: #0B1963;
margin-bottom: 0;
display: inline-block;
}
.depQuan{
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 13.0531px;
line-height: 15px;
color: #808080;
}
.center{
    display: flex;
    justify-content: center;
}
.hr{
  
    border: 0.797189px solid #d8d8d8;
    width: 70%;
    margin-top: 0;
    height: 1px !important;
}

.remove{
    margin-top: 0 !important;
}
.biText22{
    display: block; 
  width: 50%;
    position: relative;
    left: 51px;
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 500;
font-size: 11.5247px;
line-height: 29px;
text-align: center;
letter-spacing: -0.02em;

color: #D43500;
}
.nameEdit{
background: transparent;
border-style: none none solid none;
border-width: 1px;
border-color:#D0D0D0 ;
}
.nameEdit::placeholder{
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 17.5258px;
line-height: 20px;
color: #0B1963;
margin-bottom: 0;
}
.nameEdit:focus, input:focus{
    outline: none;
}

.update{
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 17px;
border: none;
color: #58AA5C;
background: rgba(88, 170, 92, 0.12);
border-radius: 58px;
text-align: center;
padding: 7px 15px;
margin-bottom: 0;
}
.update:hover{
    background: rgba(88, 170, 92, 0.2);
}

.cancel{
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 17px;
border: none;
color: rgb(231, 52, 52);
background: rgb(255, 180, 180);
border-radius: 58px;
text-align: center;
padding: 7px 15px;
margin-bottom: 0;
margin-left: 1em;
}
.cancel:hover{
    background: rgba(255, 1, 1, 0.2)
}
