.page3{
  
    flex: 5;

}

.title{
width: 100%;
height: 85px;
background-color: #081249;;
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 24.5439px;
line-height: 36px;
display: flex;
align-items: center;
justify-content: center;
letter-spacing: -0.747888px;

color: #FFFFFF;
}


.divs{
    height: 75vh;
    background: rgba(255, 242, 242, 1);
border-radius: 16.0513px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 500;
font-size: 16.0513px;
line-height: 18px;

color: #0D062D;
text-align: center;
margin-top: 15%;
overflow-y: auto;
overflow-x: hidden;
}

.cardTitle{
    background: linear-gradient(256.88deg, #D73434 24.97%, #820000 159.02%);
border-radius: 4.575px;
padding: 10px 0;

width: 50%;
min-width: 188px;
font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 15.6995px;
line-height: 23px;
/* or 146% */

display: flex;
    align-items: center;
padding-left: 2%;
letter-spacing: -0.478386px;

color: #FFFFFF;

}

.icon{
    margin-right: 2%;
    width: 8px;
}

.hr1{
 
    border: 1.5px solid #0B1963;
    color:#0B1963;
opacity: 1;
}
.hr2{
 
    border: 1.5px solid #FFA500;
    color:#FFA500;
opacity: 1;
}
.hr3{
 
    border: 1.5px solid #8BC48A;
color:#8BC48A;
opacity: 1;
}

.circle {
    background: #E3E8FF;
    width: 25px; 
    height: 25px;
    border-radius: 50%;
   
    align-items: center; 
    justify-content: center;
    display: inline-flex;
    color: #0B1963;
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 500;
font-size: 12.0385px;
line-height: 14px;
  }
  .circle2 {
    background: #FFEFD0;
    width: 25px; 
    height: 25px;
    border-radius: 50%;
   
    align-items: center; 
    justify-content: center;
    display: inline-flex;
    color: #FFA500;
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 500;
font-size: 12.0385px;
line-height: 14px;
  }
  .circle3 {
    background: #DFFFEB;
    width: 25px; 
    height: 25px;
    border-radius: 50%;
   
    align-items: center; 
    justify-content: center;
    display: inline-flex;
    color:#8BC48A;
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 500;
font-size: 12.0385px;
line-height: 14px;
  }

 .top{
position: sticky;
top: 0;
background-color: rgba(255, 242, 242, 1);
padding: 1rem 1rem 0.1rem 1rem;
z-index: 1;
 }
.mnav{
   margin-top: 20px;
}
.ap3{
  margin-left: 10px;  
  font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 28px;
/* identical to box height, or 200% */

display: flex;
align-items: center;
letter-spacing: -0.582383px;

color: #1D1D1D;
cursor: pointer;
text-decoration: none;
margin-bottom: 0;
}
.ap3:hover {
    font-weight: 700;
font-size: 14.6087px;
line-height: 28px;
letter-spacing: -0.582383px;

color: #000000;
border-style: none none solid none;
border-color: rgba(215, 53, 53, 1);
  }
  .ap32:hover {
    font-weight: 700;
font-size: 14.6087px;
line-height: 28px;
letter-spacing: -0.582383px;

color: #000000;
border-style: none none solid none;
border-color: rgba(23, 53, 136, 1);
  }

  .mnav .active2 {
    font-weight: 700;
    font-size: 14.6087px;
    line-height: 28px;
    letter-spacing: -0.582383px;
    
    color: #000000;
    border-style: none none solid none;
    border-color: rgba(23, 53, 136, 1);
  }

  .mnav .active {
    font-weight: 700;
font-size: 14.6087px;
line-height: 28px;
letter-spacing: -0.582383px;

color: #000000;
border-style: none none solid none;
border-color: rgba(215, 53, 53, 1);
  }

.status{

    margin-bottom: 0;
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 28px;
/* identical to box height, or 200% */

display: flex;
align-items: center;
letter-spacing: -0.582383px;

color: #AD1B1B;
}